*{
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}
#top{
    height: 10vh;
    width:99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    
}
#lis{
    height:10vh;
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 3vh;
}
.fa-shop{
    color: #4d504d;
}
.m{
    background: linear-gradient(aqua,aqua);
    background-position: 50% 100%;
    background-size: 0% 0.5vh;
    background-repeat: no-repeat;
    transition: 1s ease;
}
.m:hover{
    background-size: 100% 0.5vh;
    cursor: pointer;
}

#user{
    margin-left: 2vw;
    font-size: 4vh;
    font-family: monospace;
    margin-right: 2vw;
    height:6vh;
    width:11vw;
    border-radius: 2vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#log{
    height:5vh;
    width: 7vw;
    border-radius: 1vh;
    margin-left: 2vw;
    background-color: white;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(251, 227, 204); 
    font-family: monospace;
    border: 0.5vh solid black;
    padding: 0;
    transition: 0.5s ease;
}
#log:hover{
    transform: scale(1.5,1.5);
    color:  rgb(244, 150, 63); 
}
#con1{
    height:65vh;
    width:80vw;
    margin-left: 10vw;
    margin-top:2vh;
    display: flex;

}
#right{
    height:65vh;
    width:40vw;

}
#left{
    height:58.2vh;
    width:53.8vw;
    background-color: #4d504d;
}
#p1{
    font-size: 3vw;
    font-weight: bold;
    padding-left: 3vw;
    padding-bottom: 0;
    margin-top: 10vh;

}
#blur{
    color: aqua;
    padding: 0;
}
#serbut{
    height:12vh;
    width:28vw;
    background-color: aqua;
    color:white;
    font-size: 4vh;
    border-radius: 2vh;
    outline: none;
    padding: 0;
    margin-left: 3vw;
    margin-top: 5vh;
    border:0.5vh solid black;
    font-weight:bolder;    
}
#serbut:hover{
    cursor: pointer;
}
#left{
    background-image: url("laundry-cartoon-background-vector.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
}
#p1foot{
    height:20vh;
    width:90vw;
    background-color: aqua;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#heading{
    width:20vw;
    margin-right: 5vw;
    font-size: 5vh;
    font-weight: bolder;
}
#servili1,#servili2,#servili3{
    height:10vh;
    width:10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#num1,#num2,#num3{
    font-size: 8vh;
    color: white;
    font-weight: bolder;
}
#name1,#name2,#name3{
    font-size: 3vh;

}
#servili3{
    width:15vw;
}
#servili1{

    width:15vw;
}
/* -------------------------------------------------------------------------------2nd */
#con2{
    height:100vh;
    width:99vw;
    background-color: #00CCDD;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.23vw;

}
#select{
    height: 95vh;
    width:45vw;
    background-color: #6439FF;
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2vh;
}
#show,#details{
    height:45.25vh;
    width: 45vw;
    background-color: white;
}
#show{
    margin-left: 4vw;
    margin-top: 2vh;
    border-radius: 2vh;
}
#details{
    margin-top: -47vh;
    margin-left: 51vw;
    
}
#head1{
    height:11vh;
    width:100%;
    border-bottom: 0.2vh solid rgb(78, 73, 73);
    

}
#our{
    font-size: 5vh;
    color:#00CCDD;
    font-weight: bolder;
    margin-left: 2vw;
}
#sel{
    color: white;
    font-size: 2vh;
    margin-left: 2.5vw;
    margin-top: 1vh;
}
#itemsli{
    height:74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -4vh;
    border-bottom: 0.2vh solid black;
}
.li{
    display: flex;
    justify-content: space-between;
}
#l1{
    font-size: 4vh;
    margin-left: 1.5vw;
    padding: 0;
}
.dot{
    font-size: 10vh;
    margin-left: 1vw;
   color: #4d504d;
   padding: 0;
}
.pri{
    margin-left: 1vw;
    padding: 0;
    color: aqua;
}
#btn{
    margin-top: 5vh;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width:13vw;
    height: 6vh;
    padding: 0;
}
.btn1{
    height:100%;
    width:100%;
    border-radius: 2vh;
    border:0.2vh solid black;
    outline: none;
    padding: 0;
    font-size: 3vh;
    background-color:aqua ;
    font-weight: bold;
    color: white;

}
.btn1:hover{
    cursor: pointer;
}
#cuo{
    font-size: 3vh;
    margin-left: 15vw;
    margin-bottom: 3vh;
    color: red;
}
#show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#head2{
    width:100%;
    height:8vh;
    font-size: 6vh;
    text-align: center;
    border-bottom: 0.3vh solid #4d504d;
}
table{
    position: relative;
    margin-top: -0vh;
    font-size: 3vh;
    width:100%;
    border-collapse: collapse;
    border:none;
    border-bottom: 0.3vh solid black;
    padding:0;
    
}
#body1{

    height:9vh;
    width:100%;
    
    
    
}
#table{

    height:30.5vh;
    overflow: auto;
}
td{
    padding-left: 2vw;
}
th{
   background-color: #00CCDD;
   width:40vw
   
}
#h2{
    text-align: start;
    padding-left: 2vw;
}
tr{

    height:5vh;
}

th:nth-child(1){
    width:5vw;

   
}
th:nth-child(3){

    width:10vw;
    text-align: center;
}

#no{
    position: relative;
    top:-5vh;
    left:11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:20vw;
    font-size: 5vh;
    height:17vh;
    background-color: #4d504d;
}
#cal{

    width: 100%;
    height:5vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-top: 0.3vh solid black;
}
#tar{
    margin-left: 2vw;
}
#cul{
    margin-right: 2vw;
    
}
.fa-triangle-exclamation{
    font-size: 8vh;
    margin-bottom:-5vh;
}
#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vh;
}
#head3{
    width: 100%;
    height:5vh;
    font-size: 3vh;
    font-weight: bolder;
    border-bottom: 0.3vh solid black;
    padding-top: 1vh;
   
}
#form{

    height:23vh;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: -4vh;
}
label{
    font-size: 2vh;
    padding-left: 2vw;

}
#name{
    height:7vh;
    width:90%;
    margin-left: 1vw;
    border-radius: 2vh;
    border:0.3vh solid black;
    padding:1vw;
    font-size: 3vh;
}
#mail{
    height:7vh;
    width:40%;
    margin-left: 1vw;
    border:0.3vh solid black;
    border-radius: 2vh;
    font-size: 3vh;
}
#pho{
    height: 7vh;
    width:40%;
    border:0.3vh solid black;
    border-radius: 2vh;
    margin-top: -0vh;
    font-size: 3vh;
    margin-left: 23vw;
}
#lpho{
    margin-top: -9.5vh;
    margin-left: 22vw;
}
#btn2{
    height:7vh;
    width:30vw;
    background-color: aqua;
    margin-top: -10vh;
    text-align: center;
    padding-top: 1vh;
    font-size: 4vh;
    font-weight: bolder;
    border-radius: 2vh;
    border:0.3vh solid black;
    font-family: sans-serif;
    outline: none;

}
#btn2:hover{
    cursor: pointer;
}
/* -----------------------------------------------------------------------------3rd */
#con3{
    height:90vh;
    width:99vw;
    background-color: #00CCDD;
    margin-left: 0.23vw;
}
#rate{
    height:20vh;
    width:98%;
    background-color: white;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#ls1,#ls2,#ls3,#ls4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}
#sub{
    height:35vh;
    width:98%;
    background-color: aqua;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between ;

}
#head4{
    font-size: 8vh;
    font-weight: bolder;
    margin-left: 3vw;

}

#about{
    height:35vh;
    width:98%;
    background-color: white;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
#naam,#idemail{
    height:6vh;
    width:20vw;
    font-size: 3vh;
    border:0.3vh solid black
}
#btn3{
    height:6vh;
    width:20vw;
    font-size: 3vh;
    border:0.3vh solid black;
    position: relative;
    bottom:-9vh;
    right:30vw;
    border-radius: 2vh;
    background-color: white;
    font-weight: bolder;
    color: aqua;

}
#la1,#la2,#la3,#la4{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
#la4{
    margin-right: 2vw;
}
#la1{
    height:20vh;
    margin-left: 2vw;
    
}
#lo{
    font-size: 4vh;
    font-weight: bolder;
    
}
#p2{
    position: relative;
    top:-5vh;
    font-size: 2.5vh;
    
}
#ab2{
    width:8vw;
    position: relative;
    top:-10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 3vh;
}
.aba{
    position: relative;
    top:0vh;
}
#ab0{
    position: relative;
    top:-8vh;
}
#ab1,#ab0{
    font-size: 3vh;
}